<h1>Things to do...</h1>
<div id="new">
    <div>
        <label for="name">Task</label>
        <input type="text" id="name" />
    </div>
    <div>
        <label for="deadline">Deadline</label>
        <input type="text" id="deadline" value="{{now}}" />
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description"></textarea>
    </div>
    <div>
        <button id="add">Add</button>
    </div>


</div>
<div id="items"></div>